* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

.title {
    display: flex;
    justify-content: flex-start;
    padding: 0 calc(50% - 720px);
}

.bg__img {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

.bg__img__media {
    display: none;
}

.left__title {
    margin: 125px 0px 72px 260px;
    max-width: 420px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.logotype__media {
    display: none;
}

.logotype {
    display: flex;
    gap: 9px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.logotype__media {
    display: none;
}

.left__title__header {
    line-height: 100%;
    margin-top: 62px;
    margin-bottom: 48px;
    font-family: "Text-Black";
    font-size: 72px;
    color: #21201F;
    letter-spacing: -1px;
}

.left__title__text,
.left__title__text__end {
    max-width: 465px;
    line-height: 130%;
    font-family: "Text-Medium";
    font-size: 24px;
    color: #21201F;
}

.left__title__text__end {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.title__new__price {
    position: relative;
    width: 79px;
    text-align: center;
    background-color: rgb(224, 184, 255);
    border-radius: 500px;
}

.title__old__price {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 115px;
    padding-right: 12px;
    height: 33px;
    margin-left: -45px;
    line-height: 120%;
    font-size: 16px;
    color: #21201F;
    text-decoration: line-through;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    background-color: rgb(224, 184, 255);
    border-radius: 500px;
    opacity: 0.37;
}

.left__title__button {
    margin-top: 36px;
    padding: 24px 48px;
    line-height: 22px;
    font-family: "Text-Medium";
    font-size: 24px;
    color: #21201F;
    border-radius: 36px;
    border: none;
    background: #FFDE40;
    -webkit-box-shadow: 0px 0px 50px 60px rgba(255, 222, 64, 0.1);
    box-shadow: 0px 0px 50px 60px rgba(255, 222, 64, 0.1);
    cursor: pointer;
}

.left__title__button:hover {
    transform: scale(1.05);
}

.main__img__media {
    display: none;
}

.right__title img {
    margin-top: 44px;
    margin-left: -140Px;
    width: 100%;
}

.content {
    display: flex;
    justify-content: flex-start;
    padding: 0 calc(50% - 720px);
    flex-direction: column;
}

.content__header {
    line-height: 100%;
    margin-top: 3px;
    margin-bottom: 48px;
    max-width: 827px;
    font-family: "Text-Black";
    font-size: 56px;
    color: #21201F;
    letter-spacing: -1px;
    margin-left: 260px;
}

.content__text {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 112px;
    margin-left: 260px;
    justify-content: flex-start;
    max-width: 875px;
}

.first__left__content,
.second__left__content {
    max-width: 362px;
}

.first__left__content__text,
.first__right__content__text,
.second__left__content__text,
.second__right__content__text {
    margin-top: 16px;
    line-height: 120%;
    font-family: "Text-Medium";
    font-size: 24px;
    color: #21201F;
}

.second__left__content,
.second__right__content {
    margin-top: -52px;
}

.abonent__previe {
    display: flex;
    justify-content: flex-start;
    padding: 0 calc(50% - 720px);
    flex-direction: column;
}

.abonent__previe__header {
    margin-top: 128px;
    margin-left: 262px;
    line-height: 100%;
    font-family: "Text-Black";
    font-size: 48px;
    color: #21201F;
    letter-spacing: -1px;
}

.abonent__previe__text {
    margin-top: 44px;
    margin-left: 262px;
    max-width: 441px;
    line-height: 120%;
    font-family: "Text-Medium";
    font-size: 24px;
    color: #21201F;
    position: relative;
}

.abonent__previe__img {
    width: 100%;
    margin-top: -290px;
}

.img_style_media,
.first__img__media,
.second__img__media,
.third__img__media,
.fourth__img__media,
.arrow__media {
    display: none;
}

.abonent__buy {
    display: flex;
    justify-content: flex-start;
    padding: 0 calc(50% - 720px);
    flex-direction: column;
}

.top__abonent__buy {
    display: flex;
    margin-left: 260px;
    flex-direction: row;
}

.header__top__abonent__buy,
.header__bottom__abonent__buy {
    margin-bottom: 44px;
    line-height: 100%;
    font-family: "Text-Black";
    font-size: 48px;
    color: #21201F;
    letter-spacing: -1px;
    max-width: 420px;
}

.text__top__abonent__buy,
.text__bottom__abonent__buy {
    line-height: 120%;
    font-family: "Text-Medium";
    font-size: 24px;
    color: #21201F;
    max-width: 420px;
}

.top__abonent__buy__img {
    margin-top: -241px;
    width: 100%;
}

.buy__img__media {
    display: none;
}

.bottom__abonent__buy {
    display: flex;
    margin-left: 260px;
    flex-direction: row;
}

.bottom__abonent__buy__img {
    margin-top: -138px;
    width: 100%;
}

.right__bottom__abonent__buy {
    position: relative;
}

.right__abonent__buy__button {
    margin-top: 48px;
    width: 282px;
    height: 65px;
    line-height: 22px;
    font-family: "Text-Medium";
    font-size: 24px;
    color: #21201F;
    border-radius: 36px;
    border: none;
    background: #FFDE40;
    -webkit-box-shadow: 0px 0px 50px 60px rgba(255, 222, 64, 0.1);
    box-shadow: 0px 0px 50px 60px rgba(255, 222, 64, 0.1);
    cursor: pointer;
}

.right__abonent__buy__button:hover {
    transform: scale(1.05);
}

a {
    color: #C5C5C5;
}

.footer {
    display: flex;
    justify-content: flex-start;
    padding: 0 calc(50% - 720px);
    flex-direction: column;
    padding-top: 111px;
    padding-bottom: 128px;
    margin-left: 260px;
}

.footer__text {
    line-height: 120%;
    font-family: "Text-Regular";
    font-size: 13px;
    color: #C5C5C5;
    max-width: 906px;
}